* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f7f7; 
    color: #333; 
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #f01c23; 
}

/* Encabezado */
header {
    background-color: #fff; 
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    max-width: 250px;
}
.nav-link {
    margin: 0 20px;
    font-weight: bold; 
}
section {
    padding: 40px;
}

/* Banner1 */
#banner1 {
    background-color: #f01c23;
    color: #fff;
    text-align: center;
    padding: 40px;
}
.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.text-container {
    max-width: 100%;
}
.text-container h1 {
    font-size: 4em; 
    margin-bottom: 5px;
   
}
.text-container p {
    font-size: 1.3em; 
    margin-bottom: 20px;
}



/* Banner2 */
#banner2 {
    background-color: #fff; 
    color: #f01c23; 
    text-align: center;
    padding: 40px;
}
#banner2 .container {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
}
#banner2 .img-container2 img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
#banner2 h2 {
    font-size: 4em;
    margin-bottom: 5px;
}
#banner2 p {
    font-size: 1.3em;
    margin-bottom: 20px;
}
#banner2 .whatsapp-button {
    background-color: #f01c23; 
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}
#banner2 .whatsapp-button:hover {
    background-color: #fff;
    color: #f01c23;
}
button {
    background-color: #fff; 
    color: #f01c23; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}



/* Banner3 */
#banner3 {
    background-color: #f01c23;
    color: #fff;
    text-align: center;
    padding: 40px;
}
#banner3 .banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner3 .text-container {
    max-width: 100%;
}
#banner3 .text-container h3 {
    font-size: 3em; 
    margin-bottom: 5px;
}
#banner3 .text-container p {
    font-size: 1.3em; 
    margin-bottom: 20px;
}
#banner3 iframe {
    width: 100%;
    height: 50%;
    
}




/* Sobre Nosotros */
#nosotros {
    background-color: #f01c23; 
    color: #fff; 
    text-align: center;
    padding: 40px;
}
#nosotros .container {
    max-width: 800px; 
    margin: 0 auto;
}
#nosotros h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
#nosotros p {
    font-size: 1.3em;
    margin-bottom: 20px;
}




/*Galeria*/
#galeria {
    background-color: #f01c23; 
    padding: 40px 0;
}
#galeria .container {
    max-width: 1200px;
    margin: 0 auto;
}
#galeria .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#galeria .imagen {
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 250px; 
    height: 250px; 
}
#galeria .imagen:hover {
    transform: scale(1.21); 
}
#galeria .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
#galeria .imagen.ampliada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria .imagen.ampliada img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}






/* Contacto */
#contacto {
    background-color: #f01c23; /* Cambiado a rojo */
    color: #fff; /* Texto en blanco */
    text-align: center;
    padding: 40px 0;
}

#contacto h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#contacto p {
    font-size: 1.3em;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #fff; /* Fondo blanco para el botón */
    color: #f01c23; /* Texto rojo para el botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #a6191e; /* Cambiado a rojo en hover */
    color: #fff;
}

#contacto .google-link {
    font-weight: bold;
    font-size: 1.2em; /* Ajusta el tamaño según tus preferencias */
    text-decoration: none;
    display: inline-block;
    color: #4285F4; /* Color azul del logo de Google */
    transition: color 0.3s; /* Agrega una transición suave al cambio de color */
}

#contacto .google-link:hover {
    color: #3367D6; /* Color alternativo al pasar el ratón */
}






/*footer*/
.footer {
    background-color: #fff; 
    color: #f01c23; 
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}
.footer a {
    color: #000000; 
    margin-right: 10px;
}
.fa-facebook-f {
    color: #3b5998;
    font-size: 35px; 
}.fa-facebook-f:hover {
    color: #1877f2; 
}
.fa-instagram {
    color: #833ab4;
    font-size: 35px; 
}
.fa-instagram:hover {
    color: #fd1d1d; 
}
.fa-whatsapp {
    color: #25d366;
    font-size: 35px; 
}
.fa-whatsapp:hover {
    color: #128c7e; 
}